html, body {
  height: 100%;
}

.outer-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin: auto;
  align-self: center;
  max-width: 400px;
  height: 400px;
}
